@media (max-width: 1000px) {
    
    .title {
        
        font-size: 4.5rem;
        left: 15%;
    }
    .title-1 {
        
        font-size: 2.3em;
       
        left: 20%;
    }
    .title-4 {
        
        left: 30%;
    }
    

}
/* MEDIA QUERY FOR SCREEN SIZE TIL 850PX */

@media(max-width: 850px) {
.container ul{
    flex-direction: column;
    top: 83px;
    padding: 2px;
 
}
/* side bar css */
#sidebar {
    position: absolute;    
    left: -300px;
    transition: .4s;
  }

  #sidebar ul li {
    font-size: 22px;
    padding: 7px 14px;
  }

  .navbar .toggle-btn {
    position: absolute;
    top: 10px;
 
  }


  #sidebar.active  {
    left: 0%;
    
  }
/* side bar css ends */
.title {
        
    font-size: 3.5rem;
    left: 15%;
}

.title-1 {
    font-size: 2.6em;
    top: 6%;
    left: 10%;
}
.title-4 {
        
    left: 30%;
}
.fas{
    display: block;
}
 

}

@media(max-width:849px ){

}

 
/* MEDIA QUERY OF SCREEN SIZE TILL 550PX */
@media(max-width:600px ){
  
    .title-1 {
        font-size: 2.1em;
        top: 8%;
        left: 10%;
    }
    title {
        font-size: 3.1rem;
        left: 6%;
    }
    .info {
        font-family: 'Tourney', cursive;
        font-size: 2.4rem;
    }
}

/* MEDIA QUERY OF SCREEN SIZE TILL 450PX */
@media(max-width:450px )  {
    
    .title {
        font-size: 2.3rem;
        left: 8%;
    }

    .title-1 {
        font-size: 1.3em;
       
    top: 5%;
    left: 10%;

    }

    .title-2 {
        top: 42%;
    }
    .title-3 {
        top: 84%;
    }
    .title-4 {
        top: 122%;
        left: 16% !important;
    }
    .img {
        height: 40vh !important; 
    }
    
    .image-container {
        height: 40vh !important;
        
    }

    .info {
        font-family: 'Tourney', cursive;
        font-size: 1.5rem;
    }
    .fas{
        line-height: 0.3em;
    }
   

}